---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import IconSymbolPen from '@kanton-basel-stadt/designsystem/icons/symbol/pen';
---

<Layout title="@kanton-basel-stadt/designsystem Astro example">
    <h1 class="text-4xl font-bold">Hello, World!</h1>

    <IconSymbolPen />
</Layout>
