:root {
  --wiggle-degrees: 13deg;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(var(--wiggle-degrees));
  }
  40% {
    transform: rotate(calc(-1 * var(--wiggle-degrees)));
  }
  60% {
    transform: rotate(var(--wiggle-degrees));
  }
  80% {
    transform: rotate(calc(-1 * var(--wiggle-degrees)));
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0) scale(1, 1);
  }
  50% {
    transform: translateY(-6px) scale(0.8, 1.2);
  }
  100% {
    transform: translateY(0) scale(1, 1);
  }
}

@layer components {
  svg[data-symbol="arrow-east"],
  svg[data-symbol="arrow-north-east"],
  svg[data-symbol="arrow-west"],
  svg[data-symbol="arrow-south"],
  svg[data-symbol="play"],
  svg[data-symbol="send-mail"] {
    @apply transition-[transform] duration-250 ease-in-out;
  }

  a:hover, button:hover, .button:hover, .link:hover {
    & svg[data-symbol="arrow-east"] {
      transform: translateX(4px);
    }
    & svg[data-symbol="send-mail"] {
      transform: translateX(3px);
    }

    & svg[data-symbol="arrow-north-east"] {
      transform: translate(1.5px, -1.5px);
    }

    & svg[data-symbol="arrow-west"] {
      transform: translateX(-4px);
    }

    & svg[data-symbol="arrow-south"] {
      transform: translateY(2px);
    }

    & svg[data-symbol="play"] {
      transform: scale(1.1);
    }

    & svg[data-symbol="phone"] {
      animation: wiggle .4s linear;
    }

    & svg[data-symbol="location"] {
      animation: jump .5s cubic-bezier(0, 0, 0.58, 1.0);
    }
  }

  a:active, button:active, .button:active, .link:active {
    & svg[data-symbol="arrow-east"] {
      transform: translateX(8px);
    }

    & svg[data-symbol="arrow-north-east"] {
      transform: translate(2px, -2px);
    }

    & svg[data-symbol="arrow-west"] {
      transform: translateX(-8px);
    }

    & svg[data-symbol="arrow-south"] {
      transform: translateY(3px);
    }
  }

  /* Specific classes for icon backgrounds */
  .has-symbol-check {
    background-size: 40px 40px;
    /* The icon used in Figma is a different one from the symbol given in Figma. */
    background-image: url('data:image/svg+xml;utf8,<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 21.5L18 24.5L25 17.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }

  .has-symbol-caret {
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L5 3.58579L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L5.70711 5.70711C5.31658 6.09763 4.68342 6.09763 4.29289 5.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z" fill="rgb(51,51,51)"/></svg>');
  }

  .has-symbol-dot {
    background-size: 40px 40px;
    /* Using an SVG here as well to keep the circle at the correct size and leverage BG properties. */
    background-image: url('data:image/svg+xml;utf8,<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20.5" r="3" fill="white"/></svg>');
  }
}
