@font-face {
  font-family: 'Inter';
  src:
    url(@kanton-basel-stadt/designsystem/assets/fonts/common-characters/Inter-Regular.woff2)
      format('woff2'),
    url(@kanton-basel-stadt/designsystem/assets/fonts/common-characters/Inter-Regular.woff)
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url(@kanton-basel-stadt/designsystem/assets/fonts/common-characters/Inter-Medium.woff2)
      format('woff2'),
    url(@kanton-basel-stadt/designsystem/assets/fonts/common-characters/Inter-Medium.woff)
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url(@kanton-basel-stadt/designsystem/assets/fonts/common-characters/Inter-Bold.woff2)
      format('woff2'),
    url(@kanton-basel-stadt/designsystem/assets/fonts/common-characters/Inter-Bold.woff)
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Fallback';
  src:
    url(@kanton-basel-stadt/designsystem/assets/fonts/fallback-characters/Inter-Regular-Fallback.woff2)
      format('woff2'),
    url(@kanton-basel-stadt/designsystem/assets/fonts/fallback-characters/Inter-Regular-Fallback.woff)
      format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Fallback';
  src:
    url(@kanton-basel-stadt/designsystem/assets/fonts/fallback-characters/Inter-Medium-Fallback.woff2)
      format('woff2'),
    url(@kanton-basel-stadt/designsystem/assets/fonts/fallback-characters/Inter-Medium-Fallback.woff)
      format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Fallback';
  src:
    url(@kanton-basel-stadt/designsystem/assets/fonts/fallback-characters/Inter-Bold-Fallback.woff2)
      format('woff2'),
    url(@kanton-basel-stadt/designsystem/assets/fonts/fallback-characters/Inter-Bold-Fallback.woff)
      format('woff');
  font-weight: 700;
  font-style: normal;
}
